.statistics{
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 0 .5rem;

  &__community{

    @include laptop{
      display: flex;
      justify-content: space-around;    
    }
  }

  &__image-browser{
    margin-bottom: 5rem;
  }

  &__image-browser img{
    max-width: 100%;
  }

  &__community-image{
    margin-right: 10rem;
  }

  &__community--text{
    color:#aaa
  }

  &__community--data{
    color: $dark-color;
    font-size: 5.5rem;
    font-weight: $font-bold;
    display: block;
  }

}

.description{

  text-align: center;
  
  &__imagen-top-1 img,
  &__imagen-grow img,
  &__imagen-bottom-1 img,
  &__imagen-flowing img,
  &__imagen-users img,
  &__imagen-top-2 img,
  &__imagen-bottom-2 img{
    max-width: 100%;
  }
  
  &__imagen-bottom-1,
  &__imagen-bottom-2{
    margin-top: -1px;
  }

  &__imagen-grow,
  &__imagen-users{
    background-color: $ligth-color;
    margin-top: -8px;
    padding-bottom: 3rem;
  }

  &__title-grow,
  &__title-flowing,
  &__title-users{
    font-family: $main-title;
    padding-top: 4rem;
  }

  &__title-grow{
    background-color: $ligth-color;
    margin-top: -2px;
    padding-bottom: 1.5rem;
    @include laptop{
      font-size: 2rem;
      text-align: start;
    }
  }
  

  &__text-grow{
    margin-top: -21px;
    background-color: $ligth-color;
    font-weight: $font-semi-bold;
    @include laptop{
      text-align: start;
    }
  }

  &__imagen-grow{
    @include laptop {
      display: flex;
      padding: 3rem 12rem;
      align-items: center;
    }
  }

  &__imagen-grow-1{
    @include laptop{
      order: 2;
    }
  }

  &__imagen-grow-2{
    @include laptop{
      order: 1;
    }
  }

  &__imagen-flowing{
    padding-top: 6rem;
    padding-bottom: 3rem;
    @include laptop {
      padding: 8rem 4.5rem;
      display: flex;
      align-items: center;
    }  
  }

  &__title-flowing{
    @include laptop{
      font-size: 2rem;
      text-align: start
    }
  }

  &__text-flowing{
    font-weight: $font-regular;
    padding: 0 .5rem;
    @include laptop{
      font-weight: $font-semi-bold;
      text-align: start
    }
  }

  &__imagen-users{
    @include laptop{
      padding: 5rem 6rem;
      display: flex;
      align-items: center;
    }
  }

  &__title-users{
    @include laptop{
      text-align: start;
      font-size: 2rem;
    }
  }

  &__text-users{
    padding: 0 1rem;
    @include laptop{
      padding: 0 7rem 0 0;
      text-align: start;
      font-weight: $font-semi-bold;
    }
  }

  &__imagen-users-1{
    order: 2;
  }

  &__imagen-users-2{
    order: 1;
  }

}

.started{
  text-align: center;
  padding-bottom: 8rem;

  @include laptop{
    padding: 10rem 0;
  }

  .started__title{
    @include laptop{
      font-size: 2rem;
    } 
  }

  .btn{
    @include button;
    background-color:$primary-color;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    width: 230px;
    color: white;
    box-shadow: 0 2.5px 5px 0 $dark-color;
    @include laptop{
      padding: 1.3rem;
      width: 300px;
    }
  }

}