block header
  header.header
    nav.navbar
      img(src="./images/logo.svg", alt="Logo").navbar__logo
      button.btn.navbar__button Try it free
  .banner
    h1.banner__title Build The Community Your Fans Will Love
    p Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your user as you engage in genuine discussion.
    button.btn.banner__button Get Started For Free