block main
  main.main
    section.statistics
      .statistics__image-browser
        img(src="./images/screen-mockups.svg", alt="ilustracion decorativa")
      .statistics__community
        .statistics__community-1
          img(src="./images/icon-communities.svg", alt="icono de cominidad").statistics__community-image
          p.statistics__community--text 
            span.statistics__community--data 1.4k+
            | Communities Formed
        .statistics__community-2
          img(src="./images/icon-messages.svg", alt="icono de cominidad").statistics__community-image
          p.statistics__community--text 
            span.statistics__community--data 2.7k+
            | Messages Sent
    section.description
      .description__imagen-top-1
        img(src="./images/bg-section-top-desktop-1.svg", alt="imagen background")
      .description__imagen-grow
        .description__imagen-grow-1
          img(src="./images/illustration-grow-together.svg", alt="imagen background")
        .description__imagen-grow-2
          h2.description__title-grow Grow Together
          p.description__text-grow Generate meaningful discution with your audience and build a strong, loyal community. Think of the insightful conversation you miss out on with a feedback form
      .description__imagen-bottom-1
        img(src="./images/bg-section-bottom-desktop-1.svg", alt="imagen background")
      .description__imagen-flowing
        .description__imagen-flowing-1
          img(src="./images/illustration-flowing-conversation.svg", alt="imagen background")
        .description__imagen-flowing-2
          h2.description__title-flowing Flowing Conversations
          p.description__text-flowing You wouldn't paginate a conversation in real life, so why do it online? Our threands have just-in-time loading for a more natural flow
      .description__imagen-top-2
        img(src="./images/bg-section-top-desktop-2.svg", alt="imagen background")
      .description__imagen-users
        .description__imagen-users-1
          img(src="./images/illustration-your-users.svg", alt="imagen background")
        .description__imagen-users-2
          h2.description__title-users Your Users
          p.description__text-users it takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately  
      .description__imagen-bottom-2
        img(src="./images/bg-section-bottom-desktop-2.svg", alt="imagen background")
    section.started
      h2.started__title Ready To Boild Your Community?
      button.btn.started__button Get Started For Free